configuration {
modi: "drun,ssh,custom:~/.config/rofi/rofi_custom.sh, system:~/.config/rofi/rofi_system.sh";
  sidebar-mode:  true;
  hide-scrollbar: true;
  kb-cancel: "Escape,Control+bracketleft";
  kb-move-char-back: "Control+b";
  kb-move-char-forward: "Control+f";
  kb-mode-previous: "Right";
  kb-mode-next: "Left";
}
@theme "/home/lune/.local/share/rofi/themes/squared-everforest.rasi"
